
<div id="footer-sponsor-section">
    <div class="sponsor__header">Featured Presenters</div>
    <div class="sponsor__wrapper">
        <div class="sponsor_image_wrapper">
            <img src="https://s3.amazonaws.com/present.knowledgevision.com/account/b45dfd25-76fd-4642-b2ab-43d907961ba1/subaccount/8ed31859-e65f-4237-abff-a9d3b1d3645a/content/assets/templates/template_background/nyse_ice_company_jpg_1638819899056/nyse_ice_company_c808077f-3f17-4f27-b049-8789d7c8168e.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=SDyWTvCLPYf7bmsYnTleBNCQ5oI%3D" alt="NYSE"> 
        </div>
        <div class="sponsor_image_wrapper">
            <img src="https://s3.amazonaws.com/present.knowledgevision.com/account/b45dfd25-76fd-4642-b2ab-43d907961ba1/subaccount/8ed31859-e65f-4237-abff-a9d3b1d3645a/content/assets/templates/template_background/J_P_Morgan_jpg_1638473338958/J_P_Morgan_506ef8c8-f306-4958-99f1-e3bcb188dd5a.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=5MnX6ymKKyM%2BOMhew0EBSO2AQBs%3D" alt="JPMORGAN CHASE&CO"> 
        </div>
        <div class="sponsor_image_wrapper">
            <img src="https://s3.amazonaws.com/present.knowledgevision.com/account/b45dfd25-76fd-4642-b2ab-43d907961ba1/subaccount/8ed31859-e65f-4237-abff-a9d3b1d3645a/content/assets/templates/template_background/Chicagoland_jpg_1638473339000/Chicagoland_ea8e61f0-ef74-448b-a6d6-c0c18fb0347d.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=HAvFrTdW4NLaCxjYZA0wcqi3no4%3D" alt="CHICAGOLAND"> 
        </div>
        <div class="sponsor_image_wrapper">
            <img src="https://s3.amazonaws.com/present.knowledgevision.com/account/b45dfd25-76fd-4642-b2ab-43d907961ba1/subaccount/8ed31859-e65f-4237-abff-a9d3b1d3645a/content/assets/templates/template_background/the_lonely_1638473338988/the_lonely_233b72e4-a5cb-4bad-81b6-d9af8f9deac3.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=SXl5g2XDgIPcxZJJZUVjI4tMozI%3D" alt="THE LONELY ENTREPRENEUR"> 
        </div>
    </div>


</div>