<div id="footer-resource-section">
    <div class="resource_header">Resources</div>
    <div class="resource-list-items">
        <div class="resource-list-item">
            <a href="https://www.nyse.com/" target="_blank">
                <img src="https://s3.amazonaws.com/present.knowledgevision.com/account/b45dfd25-76fd-4642-b2ab-43d907961ba1/subaccount/8ed31859-e65f-4237-abff-a9d3b1d3645a/content/assets/templates/template_background/our_1637611315571/our_5c0ad11e-dc05-4d77-9ab5-16f98926cb29.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=pvPxghMe2v6N64AhI4Uhq%2FqogMI%3D" alt="Our Story"> 
                <h3>About Us</h3>
            </a>
        </div>
        <div class="resource-list-item">
            <a href="https://www.nyse.com/entrepreneur-bootcamp/agenda" target="_blank">
                <img src="https://s3.amazonaws.com/present.knowledgevision.com/account/b45dfd25-76fd-4642-b2ab-43d907961ba1/subaccount/8ed31859-e65f-4237-abff-a9d3b1d3645a/content/assets/templates/template_background/agenda_jpg_1637611315479/agenda_a1a2bf67-63a7-48ae-928e-c09285828645.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=9hCTfPkjqX2tjE5PvNwbP4aVTqM%3D" alt="Agenda"> 
                <h3>Agenda</h3>
            </a>
        </div>
        <div class="resource-list-item">
            <a href="https://www.nyse.com/entrepreneur-bootcamp/speakers" target="_blank">
                <img src="https://s3.amazonaws.com/present.knowledgevision.com/account/b45dfd25-76fd-4642-b2ab-43d907961ba1/subaccount/8ed31859-e65f-4237-abff-a9d3b1d3645a/content/assets/templates/template_background/speaker_jpg_1637611315565/speaker_1d692c3e-c6ba-496c-bab7-c38e4ea56c58.jpg?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=ZVG4g3hszrdENcN5CvaJf0dg1Qw%3D" alt="Speakers"> 
                <h3>Speakers</h3>
            </a>
        </div>
        <div class="resource-list-item">
            <a href="https://www.nyse.com/" target="_blank">
                <img src="https://s3.amazonaws.com/present.knowledgevision.com/account/b45dfd25-76fd-4642-b2ab-43d907961ba1/subaccount/8ed31859-e65f-4237-abff-a9d3b1d3645a/content/assets/templates/template_background/founders_png_1637611315472/founders_4562b3b5-bd95-49bd-a28b-e8400f4aece7.png?AWSAccessKeyId=AKIAJ3VQS6HPMVD4IBQA&Expires=2145916800&Signature=ypLaUNRac1JsPWs%2FmEong51xBOc%3D" alt="Featured Presenters"> 
                <h3>Featured Presenters</h3>
            </a>
        </div>
    </div>
</div>